<div>
    <div>
        <div class="p-4" style="width: 20rem;">
            <% if Current.user.photo.attached? %>
                <img src="<%= (url_for(@user.photo)) %>" class="img-100 rounded-circle mx-auto d-block">
            <% end %>
            <div class="card-body text-center">
                <h5 class="card-title link-dark fw-bold"><%= @user.username %></h5>
                <%= follow_or_unfollow_friend_request(@user) %>
                <p class="card-text"><small class="text-muted"><%= time_ago_in_words(@user.created_at) %></small></p>
            </div>
        </div>
    </div>
    <div>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold"><%= @user.opinions.count %></h5>
                    <p class="card-text"><small class="text-muted">Tweets</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold"><%= @user.followings.count %></h5>
                    <p class="card-text"><small class="text-muted">Following</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold"><%= @user.followers.count %></h5>
                    <p class="card-text"><small class="text-muted">Followers</small></p>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title border-btm px-3 pb-2 m-0">FOLLOWED BY</h5>
        </div>
    </div>
    <div>
        <% @user.followers.each do |f| %>
            <div class="mb-1" style="min-width: 280px;">
                <div class="row g-0 p-3">
                    <div class="col-md-4">
                        <img src="..." alt="user.photo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title fw-bold">
                                <%= f.follower.full_name %>
                            </div>
                            <%= follow_or_unfollow_friend_request(f.follower) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>